<app-header></app-header>
<div class="row">
    <div class="col-lg-11 col-xl-9  mx-auto">
        <div class="card">
            <div class="box-2 p-5">
                <h4>Congratulations!</h4>
                <div class="card-body"> 
                    <label>Your profile has been created successfully</label>
                    
                </div>
                <div class=" text-right">
                    <a class="btn btn-danger" [routerLink]=" [ '/welcome' ] ">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>