<app-header></app-header>
<div class="row">
    <div class="col-xl-9 mx-auto">
        <div class="card">
            <div class="box-2 p-5">
                <h3>Step 4: Work Experience</h3>

                <!---Work Experience 1-->
                <div class="form-group form-row">
                    <label for="firstName" class="col-md-3 col-form-label">Job 1 </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="job1" id="job1">
                    </div>
                </div>

                <!---Work Experience 2--->
                <div class="form-group form-row">
                    <label for="lastName" class="col-md-3 col-form-label">Job 2</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="job2" id="job2">
                    </div>
                </div>

                <!---Work Experience 3--->
                <div class="form-group form-row">
                    <label for="lastName" class="col-md-3 col-form-label">Job 3</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="job3" id="job3">
                    </div>
                </div>

                <div class="card-footer text-right">
                    <a class="btn btn-success" routerLink="/step-3">Back</a>
                    &nbsp;
                    <a class="btn btn-success" routerLink="/step-5">Finish</a>
                </div>
            </div>
        </div>
    </div>
</div>
