<app-header></app-header>
<div class="row">
    <div class="col-xl-9 mx-auto">
        <div class="card">
            <div class="box-2 p-5">
                <h3>Step 2:Contact Details</h3>
                <!---Email-->
                <div class="form-group form-row">
                    <label for="firstName" class="col-md-3 col-form-label">Email</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="firstName" id="firstName">
                    </div>
                </div>

                <!---Mobile-->
                <div class="form-group form-row">
                    <label for="lastName" class="col-md-3 col-form-label">Mobile</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="lastName" id="lastName">
                    </div>
                </div>

                <!---Country-->
                <div class="form-group form-row">
                    <label for="lastName" class="col-md-3 col-form-label">Country</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="lastName" id="lastName">
                    </div>
                </div>
             
                <div class=" text-right">
                    <a class="btn btn-success" routerLink="/step-1">Back</a>
                    &nbsp;
                    <a class="btn btn-success" routerLink="/step-3">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>
