<div class="row p-5">
    <!-- box at horizontally center-->
    <div class="col-lg-11 col-xl-9 mx-auto">

        <div class="card">
            <div class="box-2 p-5">
                <div class="header">
                    <h3>Customer Wizard</h3>
                </div>

                <div class="card-body">  
                    <h6>Welcome to Customer Portal</h6>
                </div>

                <div class="  text-right">  
                    <a class="btn btn-primary"  routerLink="/step-1">Start Wizard</a>
                </div>
            </div>
        </div>
    </div>
</div>
